<!DOCTYPE html>
<html>
<head>
    <title>Bill History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h1>📜 Bill History</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Mobile</th>
        <th>Product</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total</th>
        <th>Action</th>
    </tr>

    {% for bill in bills %}
    <tr>
        <td>{{ bill.id }}</td>
        <td>{{ bill.customer_name }}</td>
        <td>{{ bill.mobile }}</td>
        <td>{{ bill.product }}</td>
        <td>{{ bill.quantity }}</td>
        <td>₹{{ bill.price }}</td>
        <td>₹{{ bill.total }}</td>

       <td>
    <a href="/edit/{{ bill.id }}">
        <button>Edit</button>
    </a>

    <a href="/delete/{{ bill.id }}"
       onclick="return confirm('Delete this bill?')">
        <button>Delete</button>
    </a>

    <a href="/download_bill/{{ bill.id }}">
        <button>📄 PDF</button>
    </a>
</td>

    </tr>
    {% endfor %}

</table>

<br>

<a href="/">
    <button type="button">⬅ Back to Billing</button>
</a>

</div>

</body>
</html>