 <!DOCTYPE html>
<html>
<head>
    <title>AI Billing System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h1>AI Billing System</h1>
    <form method="post" action="/">
        <label>Customer Name:</label><br>
        <input type="text" name="customer_name" placeholder="Enter Customer Name"><br><br>
        <label>Mobile Number:</label><br>
        <input type="text" name="mobile" placeholder="Enter Mobile Number"><br><br>
        <label>Product Name:</label><br>
        <input type="text" name="product" placeholder="Enter Product Name"><br><br>
        <label>Quantity:</label><br>
        <input type="number" name="quantity" placeholder="Enter Quantity"><br><br>
        <label>Price:</label><br>
        <input type="number" name="price" placeholder="Enter Price"><br><br>
        <button type="submit">Generate Bill</button>
    </form>
    <br>
<a href="/history">
    <button type="button">View Bill History</button>
</a>
</div>
</body>
</html>