<!DOCTYPE html>
<html>
<head>
    <title>Search Bill</title>
</head>
<body>

<h1>Search Customer Bill</h1>

<form method="POST">
   <input type="text" name="search" placeholder="Search customer name or mobile">
    <button type="submit">Search</button>
</form>

<br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Product</th>
        <th>Total</th>
    </tr>

    {% for bill in bills %}
    <tr>
        <td>{{ bill.id }}</td>
        <td>{{ bill.customer_name }}</td>
        <td>{{ bill.product }}</td>
        <td>₹{{ bill.total }}</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>
