<!DOCTYPE html>
<html>
<head>
    <title>Shop Settings</title>
</head>
<body>

<h1>Shop Settings</h1>

<form method="POST">

    <label>Shop Name:</label><br>
    <input type="text" name="shop_name"><br><br>

    <label>Address:</label><br>
    <input type="text" name="address"><br><br>

    <label>Phone:</label><br>
    <input type="text" name="phone"><br><br>

    <label>Shop Type:</label><br>
    <input type="text" name="shop_type"><br><br>

    <button type="submit">Save Shop</button>

</form>
 
</body>
</html>